<div class="container">
  <h2>Experts actifs</h2>

  <div *ngIf="loading">Chargement...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div class="experts-container" *ngIf="!loading && experts.length > 0">
    <div *ngFor="let expert of experts" class="expert-card">

      <img
        [src]="getPhotoUrl(expert)"
        alt="Photo Profil"
        class="profile-img"
        (error)="onImageError($event, expert)"
        (load)="onImageLoad($event, expert)"
      >

      <h3>{{ expert.client?.fullName }}</h3>


      <p><strong>Téléphone:</strong> {{ expert.client?.tel }}</p>
      <p><strong>Pays:</strong> {{ expert.client?.pays }}</p>
      <p><strong>Ville:</strong> {{ expert.client?.ville }}</p>
      <p><strong>Domaine:</strong> {{ expert.domaine.nomDomaine }}</p>
      <p><strong>Expérience:</strong> {{ expert.anneesExperience }} ans</p>

      <button class="btn-details" (click)="viewExpertDetails(expert.id)">
        Voir détails
      </button>
    </div>
  </div>

  <p *ngIf="!loading && experts.length === 0">Aucun expert actif trouvé.</p>
</div>
